Options +FollowSymLinks
RewriteEngine On
ErrorDocument 404 /404.html
RewriteBase /cc_frame

RewriteCond %{REQUEST_URI} !^/app/(.*)$ [NC]
RewriteRule ^app/(.*)$ index\.php?request_url=$1&%{QUERY_STRING} [L]