<div class="wrapper-md ng-scope" ng-controller="AuthContent">
    <div class="col-sm-12  m-b">
        <a class="btn btn-sm btn-primary btn-addon m-r" href="{$Url->URL_MODULES->URL_MODEL->auth_content}"><i class="fa fa-plus"></i>添加新的特别授权内容</a>
    </div>
    <div class="col-sm-6">
        <form name="form" method="post" action="{$BrtUrl->now}" enctype="multipart/form-data"
              class="form-horizontal form-validation ng-pristine ng-invalid ng-invalid-required">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">给操作员授权特别功能</span>
                </div>

                    <div class="panel-body">

                        <div class="form-group" >
                            <label class="col-sm-3 control-label">选择特别授权</label>
                            <div class="col-sm-9">
                                <select name="auth_c_id" title="选择特别授权"
                                        class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
                                    <option value="">请选择</option>
                                    {$show->auth_list}
                                </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-3 control-label">选择操作员</label>
                            <div class="col-sm-9">
                                <select name="a_id" title="选择操作员"
                                        class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
                                    <option value="">请选择</option>
                                    {$show->admin_list}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid">授权
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>


    <div class="col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">已经授权的</span>
            </div>

            <div class="panel-body">
                {$show->auth_in_admin_list}
            </div>
        </div>
        </div>

</div>